*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
header{
ul{
    list-style-type: none;
}
    li{display: inline-block;
        font-size: 30px;
        margin-left: 11%;
        margin-top: 0.5%;
    }
    a{
        text-decoration:none;
        color: #fff;
    }
    li :hover{
            color: black;
            border: 2px solid black;
            border-radius: 15%;
            padding: 3px;
    }
}
header {
    width: 100%;
    height: 60px;
    background: rgb(75,75,75);
    background: radial-gradient(circle, rgba(75,75,75,1) 49%, rgba(2,13,17,0.3127626050420168) 70%);   
    position: fixed; 
}
@media screen and (max-width: 1025px){
    header{
        display: flex;
        height: 55px;
        position: static;
        background-color: grey;
        flex-direction: column;
        ul {
            justify-content: center;
            text-align: center;
            li {
                font-size: 20px;
                margin:0px;
                padding-top: 15px;
                padding-right: 22px;
            }
        } 
    }
    #oMeni{
        display: inline-block;
        .slika{
            margin: 6% auto;
        }
    }
    #skills{
        width: 90% !important;
    }
    #projects{
        width: 90% !important;
    }
    #kontakt{
        label{
            margin-right: 28%;
        }
    }
}   
#oMeni {
    display: flex;
}
    .bio{
    width: 400px;
    height: 350px;
    background-color: #8791918c;
    border: 2px double white;
    border-radius: 20%;
    margin-left: 14%;
    justify-content: center;
    text-align: center;
    margin-top: 6%;
}
        h2{
        color:#000;
        margin-top: 9%;
    }
        p{
            color: #000;
            margin-top: 12%;
        }.slika{
    background-image: url("../images/autor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 350px;
    border: 1px double #e2e2e2;
    border-radius: 15%;
    margin-top: 6%;
    margin-left: 25%;
}
@media screen and (max-width: 769px){
    header{
        height: 280px;
        background-color: #8080808a;
            ul{
            flex-direction: column;
            display: flex;
            margin-top: 10px;

            li{
               margin-left: 6%;
                padding-bottom: 2%;
                }
            }
         }
         #oMeni{
             display: flex;
             .slika {
                 margin: 4% auto;
                 width: 300px;
                 height: 300px;   
             }
             .bio{
                 margin: 4% auto;
                 width: 300px;
                 height: 300px;
             }
         }
         #skills{
            width: 95% !important;
        }
        #projects{
            text-align: center;
            height: 500px !important ;
            .project1{
                img{
                    width: 300px;
                    height: 200px;
                    margin: 4% 13%;
                }
                h5{
                    margin-left: 18%;
                }
            }
            .project2{
                img{
                    width: 300px;
                    height: 200px;
                    margin: 4% 0px;
                }
                h5{
                    margin-right: 18%;
                }
            }
        } 
}
#skills{
    width: 80%;
    height: 600px;
    background-color: rgba(128, 128, 128, 0.596);
    margin-top: 5%;
    margin: 3% auto;
    border-radius: 5%;
    border: 2px double white;
}.tittle h1{
        color:black;
        font-size: 35px;
        text-decoration: underline;
        margin: 0px auto;
        text-align: center;
        padding-top: 1%;
    }.content{
    display: flex;
    justify-content: center;
    margin-top: 1%;
}   .prvi{
        width: 260px;
        height: 150px;
        text-align: center;
    } .drugi{
        width: 260px;
        height: 150px;
        text-align: center;
        margin-left: 6%;
        margin-right: 6%;
}   h4{
        font-size: 20px;
}   p{
        font-size: 18px;
}.treci{
    width: 260px;
    height: 150px;
    text-align: center;
}
#projects {
    margin: 0px auto;
    width: 70%;
    height: 600px;
    background-color: rgba(128, 128, 128, 0.445);
    border-radius: 30%;
    border: 2px double white;
} .tittle2 {
    font-size: 30px;
    text-align: center;
}   .projekti{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 3%;
}.project1{
    height: 300px;
    width: 400px;
    margin-right:6%;
} a img {
    width: 400px;
    height: 300px;
}h5{
    color: white;
    text-align: center;
    font-size: 20px;
} .project2{
    height: 300px;
    width: 400px;
}   
@media screen and (max-width: 426px){
        #oMeni{
            display: flex;
            justify-content: center;
            text-align: center;
            .bio{
                height: 380px;
                margin-left: 3%;
                margin-right: 2px;
                width: 302px;
            }
            .slika{
                margin-top: 10%;
            }
        }
        #skills{
            display: flex;
            height: 1100px !important;
        }
        .tittle{
            height: 50px;
            h1{
            margin-left: 140%;
            padding-top: 2%;
            }
        }
        .content{
            flex-direction: column;
            align-items: center;
            .prvi {
                margin-bottom: 220px;
                margin-right: 20%;
                a{
                img{
                    width:100px;
                    height: 120px;
                     }
                 }
                 h4{
                     font-size: auto;
                 }
                 p{
                     font-size: auto;
                 }
                }
            .drugi {
                margin-bottom: 180px;
                margin-right: 20%;
                a{
                    img{
                    width:100px;
                    height: 120px;
                    }
                }
            }
            .treci{
                margin-right: 20%;
                a{
                    img{
                    width:100px;
                    height: 120px;
                    }
                }
            }
        }
        .tittle2 {
            h2{
                font-size: auto;
            }
        }
        #projects{
            height: 700px !important;
        .projekti{
            flex-direction: column;

            .project1{
                a img{
                    width: 200px;
                    height: 200px; 
                }
                h5{
                    font-size: 15px;
                    margin-right: 70px;
                    color: #000;
                }
            }
            .project2{
            a img{
                width: 200px;
                height: 200px;
            }
            h5{
                font-size: 15px;
                margin-left: 15%;
                color: #000;
            }
        }
        }
    }
    #usluge{
        margin-top: 26%;
        .usluga{
            img{
                height: auto;
                width: auto;
            }
            h5{
                margin-top: 4%;
            }
        }
    }
}
#usluge{
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 550px;
    background-color: rgba(128, 128, 128, 0.527);
    margin: 4% auto;
    border-radius: 30%;
    border: 2px double white;
    margin-bottom: 4%;
    h6{
        font-size: 40px;
    }
    .usluga{
        .img {
            height: 150px;
            width: 200px;
        }
        h5{
            font-size: auto;
            color: #000;
        }
    }
} 
#kontakt{
    margin-top: 25%;
    height: auto;
    width: auto;
    padding-bottom: 2%;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    input[type=text], select, textarea {
        width: 40%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        text-align: center;
        text-align: center;
        justify-content: center;
        margin-left: 30%;
      }
      
      input[type=submit] {
        background-color: #04aa9cb6;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 10%;
        text-align: center;
        text-align: center;
        margin-left: 45%;
      }
      
      input[type=submit]:hover {
        background-color: #386292c4;
      }
      label {
          margin-left: 30%;
          font-size: 25px;
      }
}
form{
    margin-top: 10%;
}
footer{
    width: 100% !important;
    background: black;
    padding: 20px 0px;
    margin-top: 10px;
        nav{
            ul{
                list-style-type: none;
                li{
                    display: inline-block;
                    a{
                        font-size: 20px;
                        margin-left: 20px;
                        color: #b3b2a0;
                        text-decoration: none;
                    }
                }
            }
        }
}